body{
    background-color: #87CEFA;
    font: normal 15pt Arial;
    }

section{
	background-color:#ffffff;
	border-radius: 10px;
	padding:5px;
	width:500px;
	margin:auto;
	box-shadow: 3px 3px 10px #777;
}

header{
	color: #ffffff;
	text-align: center;
	background-color:#87CEFA; 
}

footer{
	color:#3265FF;
    text-align:center;
    font-style: italic;
    background-color:#fff;
    height: 100px;
    border-radius:10px;
    box-shadow: 3px 3px 10px #777;
}
img{
	border-radius:500px;
}
div{
		text-align:center;
		padding: 1em;
}
canvas{
	border-radius:500px;
	background-color:#abf;
}